@charset "UTF-8";

	#navbar-nav{
		width:800px;
		margin:1px auto;
		text-align: center;
		font-size: 20px;
	}
	#navbar-nav li{
		margin:1px auto;
		text-align: center;
	}
	#liright1{
		width:80px;
		text-align: right;
		margin-right:1px;
	}
	#liright2{
		text-align: right;
		margin-right:1px;
	}
	.nav-li:hover {
		color:black;	
	}
	#Memberbox a{
		height:44px;
	}
	#toprogoimg{
		width:300px;
	}
	
	/*위에서 살짝 떨어지는 밑줄 CSS*/
	#topnav .nav-link{
		  position: relative;
		  padding-bottom: 10px;
	}
	#topnav .nav-link:before{
		  content: '';
		  position: absolute;
		  bottom: 2px;
		  left: 0; right: 0;
		  height: 2px;
		  background-color: #3f8ad4;
	}
	#topnav .nav-link:before{
		  opacity: 0;
		  -webkit-transform: translateY(-8px);
		  transform: translateY(-8px);
		  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		    transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
		    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	#topnav .nav-link:hover:before{
		  opacity: 1;
		    -webkit-transform: translateY(0);
		    transform: translateY(0);
		  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
		    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
